/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
	/* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
	/*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
	--cor-de-fundo: #f5f5f5;
	--cor-de-link: #000;
	--color1: #fac9b8;
	--color2: #e5d4c0;
	--color3: #a1e8cc;
	--color4: #495159;
	--color5: #afcbff;
	--color6: #0e1c36;
	--color-icono: #3d72d6;
	--font: "Montserrat", sans-serif;
	--font1: "Dancing Script", cursive;
}

body {
	box-sizing: border-box;
	/* background-color: var(--cor-de-fundo); */
	font-family: var(--font);
	margin: 0;
	padding: 0;
	line-height: 1;
}
ol,
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--cor-de-link);
}

i {
	font-size: 1.5em;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

.tudo {
	position: absolute;
	background-image: url(assets/background-degrade.jpg);
	background-position: start;
	background-size: cover;
}

/*Sección Menu*/

.menu {
	width: 100%;
	height: 15vh;
	display: none;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	background: whitesmoke;
}
.menu__nav__desktop {
	width: 100%;
	height: 12vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	background: whitesmoke;
}

.menu__list__desktop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 60%;
	padding-left: 0;
}

.menu__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 18%;
	margin-right: 5rem;
}

.menu__nav {
	margin-right: 5rem;
	display: flex;
	min-width: 600px;
}
#pdf {
	font-size: 30px;
	transition: all 0.3s ease;
	background: rgba(14, 28, 54, 0.5);
	color: #f5f5f5;
	padding: 15px 20px;
	border-radius: 10px;
}

#pdf:hover {
	color: var(--color5);
	font-size: 40px;
}
.menu__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 45vw;
	padding-left: 0;
}

.menu__list__item {
	justify-content: space-between;
	margin-right: 1rem;
	padding: 0;
	min-width: 90px;
	text-align: center;
}

.menu__list__item:hover {
	font-weight: bold;
}

.menu__list__item:last-child {
	font-weight: 700;
}

.menu__button {
	display: none;
}
.menu__title {
	min-width: 200px;
}

/*Sección Title*/

.title {
	width: 100%;
}
/* background: #5d5395; */

.title__div {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	/* background: #cde36b; */
	margin: 10rem 5rem 0 5rem;
}

.title__profile {
	width: 30%;
	border-radius: 100%;
}

.title__bio {
	font-size: 50px;
	font-family: var(--font);
}

.title__bio__mobile {
	display: none;
}

.title__subsection {
	font-weight: 300;
	color: var(--color4);
}

.title__network {
	/* background: #a1e8cc; */
	display: flex;
	justify-content: flex-start;
	padding-left: 0;
	margin-top: 50px;
}

.title__network__item {
	margin-right: 30px;
}

.title__network__item a {
	color: var(--color4);
}

.title__container h2 {
	color: #0b0b0b;
}
/*Sección About*/

.about {
	background: #f5f5f5;
	margin-top: 5rem;
	padding: 5rem;
}
.about__title {
	font-size: 1.5em;
}

.about__paragraph {
	width: 75%;
	text-align: left;
	line-height: 2em;
}

/* Seccion Skills */
.skills {
	margin-top: 5rem;
}

.skills__title {
	text-align: center;
	color: #f5f5f5;
	font-size: 1.5em;
}

.skills__line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5rem 5rem 0 5rem;
}

.skills__box {
	background: var(--cor-de-fundo);
	width: calc((100% - 10rem) / 4);
	padding-top: 10%;
	transition: all 0.8s ease;
}

.skills__box ul {
	padding-left: 1rem;
}

.skills__box:hover {
	transform: translateY(-50px);
	transform: translateY(-50px);
}

.skills__name {
	color: var(--color4);
}

/*Sección Hobbies*/

.hobbies {
}

.hobbies__title {
	text-align: center;
	color: var(--cor-de-fundo);
	font-size: 1.5em;
	margin-top: 10rem;
}

.hobbies__line {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5rem 5rem 0 5rem;
}

.hobbies__box {
	background: var(--cor-de-fundo);
	width: calc((100% - 10rem) / 4);
	padding-top: 10%;
}
.hobbies__img {
	width: 20px;
	height: 30px;
}

.hobbie__item {
	padding-left: 1rem;
}
.hobbie__item__img {
	display: none;
}

.hobbies__name {
	color: var(--color4);
}

/* Experiencia Académica*/

.academic {
	margin: 5rem 5rem 0 5rem;
}

.academic__title {
	text-align: center;
	font-size: 1.5em;
	color: var(--cor-de-fundo);
}

.academic__courses {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 3rem;
}
.academic__courses__box {
	display: flex;
	width: calc((100% - 10rem) / 4);
	min-width: 190px;
	margin-top: 2rem;
	justify-content: space-around;
	background: white;
}

.academic__courses__list {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.logo {
	width: 100px;
	height: 100px;
}
.academic__courses__item__img {
	width: 190px;
	height: 130px;
	text-align: center;
	padding: 0;
}
.academic__courses__item__title {
	text-align: center;
}

.academic__courses__item__subtitle {
	text-align: center;
	margin-top: 0;
}
.academic__courses__item__subtitle p {
	margin: 0;
}
/* experiencia*/

section.experience {
	width: 100%;
	margin-top: 5rem;
	/* background: #61b3f2; */
	display: flex;
	flex-direction: column;
	text-align: center;
}
.experience h2 {
	font-size: 20px;
	font-weight: normal;
}
.experience__section__title {
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	color: var(--cor-de-link);
}

.experience__box {
	width: 100%;
	margin-top: 5rem;
}

.experience__title {
}

.experience__img {
	width: 50%;
}

.experiencia__botao--repo {
	border-radius: 10px;
	background: var(--color6);
	color: var(--cor-de-fundo);
	padding: 10px;
	font-size: 1rem;
	border-color: transparent;
	font-family: var(--font);
	font-weight: 700;
}

.experiencia__botao--repo:hover {
	cursor: pointer;
	background: #3d72d6;
}

.experience__botao--demo {
	border-radius: 10px;
	background: var(--color6);
	color: var(--cor-de-fundo);
	padding: 10px;
	font-size: 1rem;
	border-color: transparent;
}
/*Contacto*/

.formcontato {
	display: flex;
	background: var(--cor-de-fundo);

	margin-top: 5rem;
}

.formcontato__contacto {
	/* background: #495159; */
	width: 50%;
	margin: 0 auto;
}

.formcontato__text {
	text-align: center;
}
.formcontato__form {
	display: flex;
	flex-direction: column;
}
.formcontato__input {
	margin: 1rem 0 0;
	padding: 1rem;
	border-radius: 5px;
	border: none;
	border-color: none;
	box-shadow: 5px 5px 2px rgb(77, 71, 75, 0.5);
}

.formcontato__input:focus {
	outline: none;
	box-shadow: 5px 5px 2px rgba(154, 164, 209, 0.5);
}

.formcontato__textarea {
	margin: 1rem 0 0;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 5px 5px 2px rgb(77, 71, 75, 0.5);
	border: none;
}
.formcontato__textarea:focus {
	outline: none;
	box-shadow: 5px 5px 2px rgba(154, 164, 209, 0.5);
}

.formcontato__botao {
	border-radius: 10px;
	background: var(--color6);
	margin: 1rem 0 0;
	color: var(--cor-de-fundo);
	padding: 10px 15px 10px 15px;
	font-size: 1rem;
	border-color: transparent;
	font-weight: 700;
	width: fit-content;
	align-self: center;
}

.formcontato__botao:hover {
	cursor: pointer;
	background: #3d72d6;
}

/*footeer*/

section.footer {
}
.footer__rodape {
	text-align: center;
	font-size: 1rem;

	padding: 2rem;
	background: var(--cor-de-fundo);
	padding-top: 2rem;
}

/* Responsive */

/*Tablet*/
@media (max-width: 768px) {
	.menu {
		width: 100%;
		height: 100%;
		margin: 0;
		position: relative;
		display: block;
		background-color: var(--color6);
	}
	.menu__nav__desktop {
		display: none;
	}
	#pdf {
		display: none;
	}

	.menu__list {
		display: block;
		height: 100%;
		margin: 0;
	}

	.menu__list__item {
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 30px;
		margin: 0;
		border-bottom: 1px solid var(--color5);
	}

	.menu__list__item:hover {
		background: var(--color5);
	}

	.menu__list__item a {
		color: var(--cor-de-fundo);
	}

	.menu__nav {
		display: flex;
		height: 100%;
	}

	.menu__title {
		display: none;
	}

	.menu__button {
		background: var(--color6);
		padding: 30px;
		border-bottom: 1px solid var(--color5);
		display: flex;
		justify-content: flex-end;
	}
	.menu__button:hover {
		cursor: pointer;
	}

	.title__bio__mobile {
		flex-direction: column;
		margin-top: 2rem;
	}

	.title__bio {
		text-align: center;
	}

	.title__subsection {
		text-align: left;
		padding-left: 2rem;
	}

	.title__network {
		justify-content: flex-start;
		padding-left: 2rem;
	}

	.about__container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
	}
	.about__paragraph:nth-child(1) {
		padding-right: 4rem;
	}

	.skills__line {
		flex-direction: row;
		flex-wrap: wrap;
		margin: 3rem;
	}

	.skills__box ul {
		padding-left: 10px;
	}

	.skills__box {
		width: 40%;
		margin-top: 3rem;
	}

	.hobbies {
		width: 100%;
		background: var(--cor-de-fundo);
		padding-top: 3rem;
	}

	.hobbies__title {
		margin-top: 0;
		color: var(--color4);
	}

	.hobbies__line {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 3rem 3rem;
		margin: 0;
		background: var(--cor-de-fundo);
	}

	.hobbies__box {
		width: 120px;
		height: 120px;
		margin-top: 3rem;
		padding: 0;
	}

	.hobbies__box ul {
		display: none;
	}

	.hobbie__item__img {
		display: block;
		width: 100%;
		height: 100%;
	}
	.hobbies__img {
		display: none;
	}

	.academic {
		margin: 3rem;
	}

	.academic__courses {
		width: 100%;
	}
	.academic__courses__box {
		width: 200px;
		margin-top: 2rem;
	}
}

/* Mobile*/

@media (max-width: 425px) {
	.menu__nav__desktop {
		display: none;
	}

	.menu__button {
		justify-content: flex-start;
	}
	#pdf {
		display: none;
	}

	.title__div {
		display: block;
		margin: 0;
		padding-top: 2rem;
		width: 100vw;
		text-align: center;
	}

	.title__container {
		width: 100vw;
		text-align: center;
	}

	.about {
		padding: 0;
	}

	.about__container {
		margin-left: 2rem;
	}
	.about__paragraph:nth-child(1) {
		padding: 0;
	}

	.about__paragraph:nth-child(2) {
		display: none;
	}

	.skills__box {
		width: 45%;
	}

	.hobbies__line {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		padding-top: 0;
	}

	.hobbies__box {
		display: block;
		width: 300px;
		height: 200px;
		margin-top: 2rem;
	}

	.academic__courses {
		display: flex;
		flex-direction: column;

		align-items: center;
		margin-top: 3rem;
	}

	.experience__img {
		width: 300px;
	}
	.formcontato__contacto {
		width: 100%;
		margin: 0 2rem;
	}
}
